<div class="col-md-4">
  <h4>Connect with us</h4>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-facebook"></i>Like us on Facebook</li>
    <li><i class="fa-li fa fa-twitter"></i>Follow us on Twitter</li>
  </ul>
</div>