<div class="col-md-4">
  <h4>Contact us</h4>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-home"></i>3201 New Mexico Avenue, N.W. Suite 247</li>
    <li>Washington, D.C.  20016</li>
    <li><i class="fa-li fa fa-phone"></i>202-887-0552</li>
    <li><i class="fa-li fa fa-envelope"></i><a href="mailto:rmehle@achatesadvisors.com">rmehle@achatesadvisors.com</a></li>
  </ul>
</div>