<div class="col-md-4">
  <h4>What's Achates?</h4>
  <p>In Greco-Roman mythology, Achates was the companion of Aeneas, the Trojan adventurer and warrior.  Known as "faithful Achates," he served Aeneas with great loyalty throughout the latter's epic travels -- and the founding of  Rome.</p>
</div>